name: Release
on:
  push:
    tags:
      - "*"
      # pull_request: # debug
permissions:
  contents: write
  id-token: write
  attestations: write
jobs:
  release-binary:
    strategy:
      # fail-fast: false # debug
      matrix:
        os: [linux, darwin, windows]
        arch: [amd64, arm64, arm32]
        exclude:
          - os: darwin
            arch: arm32
          - os: windows
            arch: arm32
          - os: windows
            arch: arm64
    runs-on: ${{ (matrix.os != 'darwin' && 'ubuntu-latest') || 'macos-latest' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      # --------- setup cross compilers ---------
      - name: Install cross-compilers
        run: |
          if [ "${{ matrix.os }}" == "linux" ]; then
            sudo apt update
            sudo apt-get install gcc-aarch64-linux-gnu gcc-arm-linux-gnueabihf
          elif [ "${{ matrix.os }}" == "windows" ]; then
            sudo apt update
            sudo apt-get install gcc-mingw-w64-x86-64
          fi
      # --------- setup rust ---------
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          cache: true
          cache-workspaces: ./lib/system
          cache-key: ${{ runner.os }}
      - name: Add Rust targets
        run: |
          if [ "${{ matrix.os }}" == "linux" ]; then
            rustup target add armv7-unknown-linux-gnueabihf
            rustup target add aarch64-unknown-linux-gnu
          elif [ "${{ matrix.os }}" == "darwin" ]; then
            rustup target add x86_64-apple-darwin
            rustup target add aarch64-apple-darwin
          elif [ "${{ matrix.os }}" == "windows" ]; then
            rustup target add x86_64-pc-windows-gnu
          fi
      - name: Setup cross toolchain
        run: cargo install cross
      # --------- setup go ---------
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      # --------- goreleaser ---------
      - name: Release
        uses: goreleaser/goreleaser-action@v7
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean --config .goreleaser-${{ matrix.os }}-${{ matrix.arch }}.yaml
          # args: build --skip validate --clean --config .goreleaser-${{ matrix.os }}-${{ matrix.arch }}.yaml # debug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  attestation:
    runs-on: ubuntu-latest
    needs: release-binary
    steps:
      - name: Set tag name
        id: name
        run: |
          TAG_NAME="${{ github.ref_name }}"
          # TAG_NAME="v0.8.0"  # debug
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_OUTPUT
      # --------- attestation ---------
      - uses: robinraju/release-downloader@v1
        with:
          tag: ${{ steps.name.outputs.TAG_NAME }}
          fileName: "*"
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v4
        with:
          subject-path: .
